// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
$primary:    #11757c;

// Colores secundarios
$secondary:  #3dc2ff;
$tertiary:   #7044ff;

// Colores de éxito, advertencia, peligro, etc.
$success:    #10dc60;
$warning:    #e2c966;
$danger:     #f04141;