

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
        </ion-card-header>
        <ion-card-header>
          Bienvenido, {{userName}}!
        </ion-card-header>
    <ion-card-content class="ion-padding">  
      <p class="ion-padding">Estamos trabajando para usted!</p>
    </ion-card-content>
  
  </ion-card>
  <ion-card>
  <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/6T2ACxt4X9rZ14CDlNPYD3?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
  </ion-card>

</ion-content>
